<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

        <!-- Our Custom CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='TELETEXT.css') }}">

        <title>Good Vibes</title>
        <style>
            .sep {
                line-height: 120%;
            }
        </style>
    </head>

    <body>
    <center>
        <br>
            <h1><font color="pink">Good Vibes</font></h1>
            <br></br>
            <h5>Select Something</h5>
            <select id="select1"></select>
            <br></br>
            <h5>Select Another Thing</h5>
            <select id="select2"></select>
            <br></br>
            <h5>Type Somehing</h5>
            <input type="text" id="text_box1"></input>
            <br></br>
            <h5>Type Another Thing</h5>
            <input type="text" id="text_box2"></input>
            <br></br>
            <input type="checkbox" id="checkbox1"> Check Here
            <input type="checkbox" id="checkbox2"> Check Here
            <br></br>
            <input type="checkbox" id="checkbox3" value="True"> Check Here
            <input type="checkbox" id="checkbox4" value="True"> Check Here
            <br></br>
            <input type="checkbox" id="checkbox5"> Check Here
            <br></br>
            <button id="send_button">Send</button>
        </center>
        <!-- Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    </body>

</html>